Source: indicator-applet
Section: gnome
Priority: optional
Maintainer: Ubuntu Core Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Build-Depends: debhelper (>= 5.0),
               cdbs (>= 0.4.41),
               libgtk2.0-dev (>= 2.14.0),
               libpanel-applet2-dev (>= 2.0.0),
               libdbus-glib-1-dev,
               gnome-doc-utils,
               libtool,
               intltool,
               gobject-introspection (>= 0.6),
               gobject-introspection-glib-2.0 (>= 0.6),
               libgirepository-dev (>= 0.6),
               gobject-introspection-repository,
               libawn-dev-trunk | libawn-dev (>> 0.2.9)
Standards-Version: 3.8.0
Homepage: https://launchpad.net/indicator-applet
Vcs-Bzr: http://bazaar.launchpad.net/~ubuntu-core-dev/indicator-applet/ubuntu

Package: indicator-applet-data
Architecture: all
Depends: ${shlibs:Depends},
         ${misc:Depends}
Replaces: indicator-applet (<= 0.1.1-0ubuntu2)
Description: Notification indicator applet - common files
 indicator-applet is an applet to display information from
 various applications consistently in a dock or panel. 
 .
 This package contains files common to both the GNOME Panel applet
 and the Avant Window Navigator applet.

Package: indicator-applet
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         indicator-applet-data,
         gnome-panel
Description: GNOME panel indicator applet
 indicator-applet is an applet to display information from
 various applications consistently in the GNOME panel. 
 .
 Currently this includes support for messaging applications in the
 indicator-messages package.

Package: indicator-awn-applet
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         indicator-applet-data,
         libawn0-trunk | libawn0 (>> 0.2.9)
Recommends: avant-window-navigator-trunk | avant-window-navigator (>> 0.2.9)
Description: Avant Window Navigator indicator applet
 indicator-applet is an applet to display information from
 various applications consistently in the Avant Window Navigator (Awn)
 dock.
 .
 Currently this includes support for messaging applications in the
 indicator-messages package.

Package: libindicate0
Section: libs
Conflicts: libindicate
Replaces: libindicate
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends}
Description: Notification indicator applet - shared library
 indicator-applet is an applet to display information from
 various applications consistently in a dock or panel. 
 .
 This package contains shared libraries to be used by applications.

Package: libindicate-dev
Section: libdevel
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         libindicate0 (= ${binary:Version}),
         libdbus-glib-1-dev (>= 0.76),
         libgtk2.0-dev (>= 2.14.0)
Description: Notification indicator applet - shared library
 indicator-applet is an applet to display information from
 various applications consistently in a dock or panel. 
 .
 This package contains files that are needed to build applications.
