Source: indicate-python
Section: python
Priority: optional
Maintainer: Ubuntu MOTU Developers <ubuntu-motu@lists.ubuntu.com>
XS-Python-Version: all
Build-Depends: cdbs,
               debhelper (>= 7),
               python-central (>= 0.6),
               autotools-dev,
               python-all-dev,
               python-gtk2-dev,
               libindicate-dev (>= 0.2.0),
               libindicate-gtk-dev
Standards-Version: 3.8.0
Homepage: https://launchpad.net/indicator-applet
Vcs-Bzr: http://bazaar.launchpad.net/~ubuntu-desktop/indicator-applet/indicate-python-ubuntu


Package: python-indicate
Architecture: any
XB-Python-Version: ${python:Versions}
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python:Depends}, python-gobject
Provides: ${python:Provides}
Description: Python bindings for libindicate
 This package provides python bindings so that you can use libindicate from 
 a python program
