#!/usr/bin/make -f


DEB_PYTHON_SYSTEM=pycentral
PY_VERSIONS = $(shell pyversions --requested debian/control)

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/rules/simple-patchsys.mk

configure-stamp-%:
	mkdir build-$*
	cd build-$* && PYTHON=`which $*` \
	    ../configure --prefix=/usr 
	touch $@

configure/python-indicate:: $(addprefix configure-stamp-, $(PY_VERSIONS))

build-stamp-%:
	make -C build-$*
	touch $@

build/python-indicate:: $(addprefix build-stamp-, $(PY_VERSIONS))

install-stamp-%:
	make -C build-$* install DESTDIR=$(CURDIR)/debian/python-indicate
	touch $@

install/python-indicate:: $(addprefix install-stamp-, $(PY_VERSIONS))


binary-install/python-indicate::
	dh_pycentral
	mv tests $(CURDIR)/debian/python-indicate/usr/share/doc/python-indicate/examples

clean::
	-rm -rf $(addprefix build-, $(PY_VERSIONS))
	-rm -rf $(addprefix configure-stamp-, $(PY_VERSIONS))
	-rm -rf $(addprefix build-stamp-, $(PY_VERSIONS))
	-rm -rf $(addprefix install-stamp-, $(PY_VERSIONS))
